body {
    text-align: center;
    background-color: floralwhite;
}

header {
    background-color: steelblue;
    color: white;
    padding: 1rem;
}

nav {
    margin: 1rem 0;
    background: #333;
}

nav a {
  display: block;
  text-decoration: none;
  background: #333;
  color: white;
  padding: 0.5rem 1rem;
}

nav ul {
    background: #eee;
    padding: 0;
    margin: 0;
    display: flex;
}

nav a:hover, a:focus {
    background: blue;
    color: white;
}

nav li {
  list-style: none;
  flex: 1;
  text-align: center;
}


.current a {
    background: #666; 
    color: white;
}

footer {
    background-color: #666;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
    margin-left: 25px;
}

.infoboxen {
    background-color: whitesmoke;
    padding: 1rem;
    margin-bottom: 1rem;
}

.infobox {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
}
